## 에어코리아 미세먼지 크롤링(selenium 활용)
#### https://www.airkorea.or.kr/web/sidoQualityCompare?itemCode=10007&pMENU_NO=101

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from time import sleep
import pandas as pd

# chromedriver --version

# create a new chrome session
options = Options()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
driver = webdriver.Chrome(chrome_options=options, executable_path="C:/Users/ad/Documents/GitHub/DeepLearning/chromedriver")
driver.implicitly_wait(3)
driver.maximize_window()
url='https://www.airkorea.or.kr/web/sidoQualityCompare?itemCode=10007&pMENU_NO=101'
driver.get(url)
sleep(0.3)
html = driver.page_source
dfs = pd.read_html(html)
driver.close()

<ipython-input-3-b3bfe7bcae37>:13: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options, executable_path="C:/Users/ad/Documents/GitHub/DeepLearning/chromedriver")

In [4]:
dfs[0]

,Unnamed: 0,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,세종,경북,경남,제주
0,시간평균,36,24,33,38,58,50,22,45,20,38,65,64,48,50,26,27,60
1,일평균,33,18,20,31,18,22,17,35,28,25,31,21,17,25,23,18,17
2,최고값,61,52,57,62,70,62,43,84,124,88,112,94,179,59,59,64,86
3,최저값,5,6,6,4,1,1,6,3,2,2,2,1,1,7,6,5,1

## 데이터 변환

In [5]:
#데이터 생성
data=pd.DataFrame([dfs[0].transpose()[1::][0].index,dfs[0].transpose()[1::][0]]).transpose()
data=pd.DataFrame({'area':data[0],'dust':data[1]})

#데이터 수치로 변환
data['dust']=data['dust'].astype(float)
data.reset_index(inplace=True,drop=True)
data=data.set_index('area')

print(data.dtypes)
data.head()

dust    float64
dtype: object

      dust
area
서울    36.0
부산    24.0
대구    33.0
인천    38.0
광주    58.0